body { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;margin:0; padding:0; overflow: hidden;}

#map {  
position: relative;
height: 500px;
width: 100%; 
z-index: 2;
}

img {
    pointer-events: none;
}

.header {
    position: relative;
    background: linear-gradient(rgba(42,154,229,0.8),rgba(42,154,229,0.8)), url(/images/town.jpg);
    /* background: linear-gradient(rgba(42,154,229,0.8),rgba(42,154,229,0.8)), url(../images/town.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}

.go-logo {
    display: block;
    margin: auto;
    width: 100px;
    height: auto;
}

.panel-block {
    display: block;
}

.fa-facebook { color: #3B5998;}
.fa-whatsapp { color:#25d366; }

.hero-smaller {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sponsor { position: relative; z-index: 2;}

.app-badge { 
    box-sizing: block;
    margin: 0 auto;
    height: 45px;
    padding: 5px;
}

.no-padding { position:relative; padding: 0px; z-index: 1;}
.no-marg-padding-bottom { padding-bottom: 0; margin-bottom: 0;}

.lake-image {
    height: auto;
    width: 100%;
}

.lake-image:hover {
    cursor: pointer; 
}

.center-welcome-box {
    color: #666666;
    padding-left: 20px;
    padding-right: 20px;
}

.center-welcome-box strong{
    color: #333333;
    font-weight: 500;
}

.trainer-hat {
    display: block;
    margin: 0 auto;
}

.love {
    padding-top: 40px;;
	font-size: 12px;
}
.footer { padding-bottom: 5px;}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    font-size: 1.2em;
    background: rgb(43,167,252);
    color: #ffffff;
}

.marker-header {
    font-weight: 900;
    text-align: center;
}
.marker-text {
    font-weight: 500;
    text-align: center;
}

/* Media Queries */

/* Smartphones */
@media only screen and (max-width : 420px) {
    .center-welcome-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .modal-button {
        display: block;
        margin: 0 auto;
    }
}

/* Tablets*/
@media only screen and (min-width : 420px) {
    .center-welcome-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1200px) {
    .center-welcome-box {
        padding-top: 10%;
        padding-bottom: 5%;
    }
}